/* IMPORTACIONES */
/* VARIABLES */
/* ESTILOS */
* {
  font-size: 16px;
  color: #f2f2f2;
}

body {
  margin: 0;
  padding: 0 1rem;
  background-color: #0d0d0d;
}

.header {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navegacion ul {
  width: 100%;
  margin: auto;
}
.navegacion ul li {
  margin: auto;
}
.navegacion ul .dd-menu {
  width: 210px;
}
.navegacion ul .dropdown-item-cont {
  padding: 0;
}
.navegacion ul .dropdown-item-cont a {
  color: #8c8c8c;
}
.navegacion ul .dropdown-item-cont a:hover {
  color: #0d0d0d;
}
.navegacion ul li a {
  color: #bfbfbf;
  font-weight: 700;
}
.navegacion ul li a:hover {
  color: tomato;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
  width: 100%;
}
.main-container .section-header {
  width: 100%;
  height: 5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container .wc-header {
  background: linear-gradient(90deg, rgb(38, 1, 15) 0%, rgb(146, 14, 53) 51%, rgb(38, 1, 15) 100%);
  background-image: url(/assets/imgs/WCQatar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main-container .section-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main-container .section-nav ul {
  margin-top: 0.5rem;
  width: 100%;
}
.main-container .section-nav ul li {
  margin: auto;
  width: 18%;
  text-align: center;
}
.main-container .section-nav ul li a {
  color: #f2f2f2;
}
.main-container .section-nav ul li .active {
  color: #0d0d0d;
}
.main-container .sub-nav {
  width: 100%;
  display: flex;
  padding: 0.5rem;
}
.main-container .sub-nav .boton {
  width: 15%;
  margin: auto;
  margin-top: 0.5rem;
  background: linear-gradient(90deg, rgb(38, 1, 15) 0%, rgb(146, 14, 53) 51%, rgb(38, 1, 15) 100%);
  border: none;
  padding: 0.2rem;
  text-decoration: none;
  color: #f2f2f2;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
}
.main-container .fixture {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 42rem;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  padding: 1rem;
}
.main-container .fixture .group-title {
  background: linear-gradient(90deg, rgb(38, 1, 15) 0%, rgb(146, 14, 53) 51%, rgb(38, 1, 15) 100%);
  text-align: center;
  padding: 0.3rem;
  font-weight: 700;
  letter-spacing: 2px;
}
.main-container .fixture .group {
  border: 1px solid white;
  padding: 0.5rem;
}
.main-container .fixture .group-pos {
  width: 100%;
  background: linear-gradient(90deg, rgb(38, 1, 15) 0%, rgb(146, 14, 53) 51%, rgb(38, 1, 15) 100%);
  margin: auto;
}
.main-container .fixture .group-pos thead > tr {
  background-color: #0d0d0d;
}
.main-container .fixture .group-pos thead > tr th {
  text-align: center;
}
.main-container .fixture-advanced {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
.main-container .grid-test {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 5rem;
  grid-template-columns: repeat(2, minmax(10rem, 1fr));
}
.main-container .dates {
  margin-top: 1rem;
}
.main-container .dates .date {
  margin-top: 1rem;
}
.main-container .dates .date .date-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0.1rem;
  margin-bottom: 0.2rem;
}
.main-container .dates .date .date-number p {
  margin: 0;
}
.main-container .dates .date .date-match {
  margin: auto;
}
.main-container .dates .date .date-match .team {
  margin: auto;
  text-align: center;
  line-height: 1.5rem;
  background: linear-gradient(90deg, rgb(38, 1, 15) 0%, rgb(146, 14, 53) 51%, rgb(38, 1, 15) 100%);
  font-size: 0.8rem;
}
.main-container .dates .date .date-match .score {
  background-color: #f2f2f2;
  border-right: 1px solid rgb(146, 14, 53);
  border-left: 1px solid rgb(146, 14, 53);
}
.main-container .dates .date .date-match .date-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0.2rem;
  font-size: 0.8rem;
  margin: 0.2rem auto;
}
.main-container .dates .date-advanced {
  margin: 0.5rem 3rem;
}
.main-container .dates .date-match-advanced {
  margin: 0.5rem;
  height: 5rem;
  padding: 0.5rem;
  width: 100%;
}
.main-container .dates .date-match-advanced .team {
  height: 2rem;
}/*# sourceMappingURL=style.css.map */